@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap');


/* General Reset */
body {
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    background-image: url('background2.png');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

/* Container */
.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    text-align: center;
}

/* Registration Box */
.registration-box {
    background: #ffffff;
    background-image: linear-gradient(to bottom, #004aad 12%, rgba(0,0,0,0) 12%); 
    padding: 30px 20px;
    border-radius: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 80%;
    max-width: 300px;
    margin: 0 auto;
}

/* Logo */
.logo {
    width: 200px;
    margin-bottom: 20px;
}

/* Heading */
.registration-box h2 {
    font-size: 18px;
    font-weight: normal;
    margin-bottom: 20px;
    margin-top: -12px;
    color: #ffffff;
}

/* Form */
.firstinput {
    margin-top: 5px;
}

form input {
    width: 100%;
    padding: 10px;
    margin-bottom: 12px;
    font-size: 1rem;
    border: 1px solid #ccc;
    border-radius: 20px;
    box-sizing: border-box;
    font-weight: normal;
    text-indent:  8px;
}

form button {
    width: 100%;
    padding: 10px;
    font-size: 1rem;
    color: #fff;
    background-color: #004aad;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
    margin-top: 10px;
    white-space: nowrap;
}

form button:hover {
    background-color: #0066cc;
}

hr {
    width: 90%;
    margin-top: 24px;
}

/* Text and Links */
.existing {
    font-size: 14px;
    color: #666666;
    margin-bottom: 0px;
}

.registration-box a {
    color: #004aad;
    text-decoration: none;
    font-weight: normal;
}

.registration-box a:hover {
    text-decoration: underline;
}

.succmsg {
    font-size: 14px;
    color: #666666;
    margin-top: 10px;
    margin-bottom: 5px;
}